asgiref
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
Django==4.2.13
django-debug-toolbar
django-extensions
django-phonenumber-field
django-tinymce
httplib2
idna
phonenumbers
pillow
psycopg2
pyasn1
pyasn1_modules
pycparser
pyparsing
python-decouple
requests
requests-oauthlib
rsa
sqlparse
tzdata
urllib3
win32-setctime
fontawesomefree==6.5.1