asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.34.112
botocore==1.34.112
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2.13
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-phonenumber-field==7.3.0
django-storages==1.14.3
django-tinymce==4.0.0
fastjsonschema==2.19.1
fontawesomefree==6.5.1
gunicorn==22.0.0
h11==0.14.0
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
MarkupSafe==2.1.5
mistune==3.0.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
packaging==24.0
pandocfilters==1.5.1
phonenumbers==8.13.36
pillow==10.3.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pywin32==306
pyzmq==26.0.3
referencing==0.35.1
rpds-py==0.18.1
s3transfer==0.10.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tinycss2==1.3.0
tornado==6.4
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.29.0
webencodings==0.5.1
