{% extends "basic.html" %} {% load static %}
<!-- title  -->
{% block title %}{{block.super}} | Email Verified {% endblock %}
<!-- head  -->
{% block head%}
<style>
  main {
    display: flex;
    min-height: 85.85vh;
    padding-top: 5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
  }
  img {
    height: 5rem;
  }
  .btn {
    background-color: var(--bs-accent);
    cursor: pointer;
  }
</style>
{% endblock head%}
<!-- body -->
{% block body %}
<!-- navbar -->
{% include 'snippets/_navbar_snippet.html' %}
<main>
  <div class="container">
    <h1>Email Verified Successfully</h1>
    <p class="success-icon">
      <img src="{% static 'assets/images/email_success.png' %}" />
    </p>
    <p>
      Thank you for verifying your email address. Your subscription is now
      active.
    </p>
    <a href="{% url 'core:index' %}" class="btn">Go to Homepage</a>
  </div>
</main>
{% endblock body %}
