{% extends 'base.html' %}
<!-- load static -->
{% load static %}
<!-- block title -->
{% block title %} | Home page{% endblock title %}
<!-- main content -->
{% block content %}
<main class="main about">
  <section class="landing">
    <h2 class="landing-title">Patrick Ndieka</h2>
    <div class="landing-content">
      <div class="role-wrapper">
        <div class="static-text">I'm a</div>
        <ul class="dynamic-text">
          <li><p class="role">Data scientist.</p></li>
          <li><p class="role">Data analyst.</p></li>
          <!-- <li><p class="role">Web developer.</p></li> -->
          <!-- <li><p class="role">Freelancer.</p></li> -->
        </ul>
      </div>
    </div>
    <a href="{% url 'core:portfolio' %}" class="call-to-action btn">
      View Portfolio
    </a>
  </section>
  <!-- My Services -->
  <section class="my-services">
    <p id="services"></p>
    <div class="container">
      <h2 class="section__title section__title--services">What I do</h2>
      <div class="services">
        {% for service in services %}
        <!-- Service -->
        <div class="service">
          <h3>{{ service.name }}</h3>
          {{ service.description|safe }}
        </div>
        {% endfor %}
        <!--close service-->
      </div>
      <!--close services-->
      <a href="{% url 'core:portfolio' %}" class="btn">View Portfolio</a>
    </div>
  </section>

  <!--About me-->
  <section class="container">
    <p id="about"></p>
    <div class="about-me">
      <h2 class="section__title section__title--about">Who I am</h2>
      <h5 class="section__subtitle section__subtitle--about">
        Data analyst based at
        <!-- location -->
        {{ about_details.about_location.get_value|safe|title }}
      </h5>
      {% if about_details %}
      <div class="about-me__body">
        {{ about_details.about_content.get_value|safe }}
      </div>

      <img
        src="{{ about_details.about_image.get_value.url }}"
        alt="Image of Patrick"
        class="about-me__img" />
      {% endif %}
    </div>
  </section>
</main>
{% endblock content %} {% block scripts %}
<script>
  const aboutSection = document.getElementById("about");
  const servicesSection = document.getElementById("services");

  window.addEventListener("scroll", () => {
    if (aboutSection.getBoundingClientRect().top <= window.innerHeight * 0.4) {
      if (!navigationBtns[2].classList.contains("active")) {
        getActiveNavigation(navigationBtns[2]);
      }
    } else if (
      servicesSection.getBoundingClientRect().top <=
      window.innerHeight * 0.4
    ) {
      if (!navigationBtns[1].classList.contains("active")) {
        getActiveNavigation(navigationBtns[1]);
      }
    } else {
      if (!navigationBtns[0].classList.contains("active")) {
        getActiveNavigation(navigationBtns[0]);
      }
    }
  });
</script>
{{ block.super }}
<!--  -->
{% endblock scripts %}
