{% extends 'base.html' %}
<!-- load static -->
{% load static %}
<!-- main content -->
{% block content %}
<main class="main portfolio">
  <section class="landing">
    <h2 class="landing-title">Portfolio projects</h2>
    <div class="landing-content">
      <p>
        View, edit, query, and visualize all of your data with one powerful and
        easy-to-use tool.
      </p>
    </div>
    <a href="{% url 'core:index' %}" class="btn btn-back">
      <i class="fa-solid fa-arrow-left-long"></i>
      Back to Home
    </a>
  </section>
  <!-- My Projects -->
  <section class="my-projects" id="projects">
    <div class="container">
      <div class="projects">
        {% if featured_project %}
        <!-- Project -->
        <article
          class="project featured card"
          onclick="window.location.href='{{ featured_project.get_absolute_url }}'">
          <img
            class="project__img"
            src="{{ featured_project.featured_image.url }}"
            alt="Portfolio project image about the topic {{ featured_project.title }}" />
          <div class="card__body">
            <h3 class="section__title section__title--project">
              {{ featured_project.title }}
            </h3>
            <div class="project__body">
              {{ featured_project.description|safe }}
            </div>
            <div class="card__info">
              <a href="{{ featured_project.get_absolute_url }}" class="btn">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
        <!--close project-->
        {% endif%} {% for project in projects %}
        <!-- Project -->
        <article
          class="project card"
          onclick="window.location.href='{{ project.get_absolute_url }}'">
          <img
            class="project__img"
            src="{{ project.featured_image.url }}"
            alt="Portfolio project image about the topic {{ project.title }}" />
          <div class="card__body">
            <h3 class="section__title section__title--project">
              {{ project.title }}
            </h3>
            <div class="project__body">{{ project.description|safe }}</div>
            <div class="card__info">
              <a href="{{ project.get_absolute_url }}" class="btn">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
        <!--close project-->
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
