@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bs-backdrop: blur(16px) brightness(2.25);
  --bs-shadow-color: hsla(0 0% 100% / 0.05);
  --bs-black: hsl(0 0% 7%);
  --bs-black-5: hsl(0 0% 7%/ 0.25);
  --bs-white: hsl(0 0% 100%);
  --bs-white-5: hsla(0 0% 100% / 0.25);
  --bs-grey: hsl(0 0% 12%);
  --bs-grey-5: hsl(0 0% 12% / 0.75);
  --bs-coral: hsl(48 24% 96%);
  --bs-coral-5: hsla(48 24% 96% / 0.75);
  --bs-accent: hsl(169.09 100% 27.25%) /*hsl(169.09 100% 32.35%)*/;
  --bs-accent-dark: hsl(169.09 100% 20%);
  --bs-accent-2: var(--bs-coral);
  --bs-accent-3: var(--bs-grey);
  --bs-accent-2-5: var(--bs-coral-5);
  --bs-accent-3-5: var(--bs-grey-5);
  --bg-color: var(--bs-black);
  --fg-color: var(--bs-white);
  --bg-color-5: var(--bs-black-5);
  --fg-color-5: var(--bs-white-5);
  --bg-image: url("../images/background.webp");
  --bg-linear-gradient: linear-gradient(
    top to bottom,
    hsla(0, 0%, 100%, 0.5),
    var(--bg-color-5)
  );
  --font-cursive: "Bad Script", cursive;
  --font-family: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-backdrop: blur(16px) brightness(0);
    --bs-accent-2: var(--bs-grey);
    --bs-accent-3: var(--bs-coral);
    --bs-accent-2-5: var(--bs-grey-5);
    --bs-accent-3-5: var(--bs-coral-5);
    --bg-color: var(--bs-black);
    --fg-color: var(--bs-white);
    --bg-color-5: var(--bs-black-5);
    --fg-color-5: var(--bs-white-5);
  }
}

[data-theme-mode="dark"] {
  --bs-backdrop: blur(16px) brightness(0);
  --bs-accent-2: var(--bs-grey);
  --bs-accent-3: var(--bs-coral);
  --bs-accent-2-5: var(--bs-grey-5);
  --bs-accent-3-5: var(--bs-coral-5);
  --bg-color: var(--bs-black);
  --fg-color: var(--bs-white);
  --bg-color-5: var(--bs-black-5);
  --fg-color-5: var(--bs-white-5);
}

[data-theme-mode="light"] {
  --bs-backdrop: blur(16px) brightness(2.25);
  --bs-accent-2: var(--bs-coral);
  --bs-accent-3: var(--bs-grey);
  --bs-accent-2-5: var(--bs-coral-5);
  --bs-accent-3-5: var(--bs-grey-5);
  --bg-color: var(--bs-white);
  --fg-color: var(--bs-black);
  --bg-color-5: var(--bs-white-5);
  --fg-color-5: var(--bs-black-5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  isolation: isolate;
  z-index: -1;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/stars.svg");
  background-position: center, top;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--bs-accent);
  transition: 0.5s ease-in-out;
}

a:hover {
  color: var(--fg-color);
  text-decoration: underline;
  transform: scale(1.1);
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

img {
  width: 100%;
}

input {
  line-height: 0.95em;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--fg-color);
  background-color: var(--bg-color);
  padding: 1em 0.5em;
}

input::placeholder {
  color: var(--bs-accent-3);
}

.icon::before {
  /* for font awesome icon css settings */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.hide {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0.5em 2em;
  color: var(--fg-color);
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  border: 1px solid var(--bs-accent);
  transition: 500ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  text-decoration: none;
  background: var(--bs-accent-3);
  color: var(--bs-accent-2);
  border-color: var(--bs-accent-2-5);
  box-shadow: 0 2px 4px var(--bs-accent-2-5);
}

.btn > svg {
  color: var(--bs-accent);
}

.btn.btn-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 0.5em;
}

.btn-group {
  display: flex;
  gap: 1em;
}

.container {
  margin: 0 50px;
}

[data-full-page="true"] .container {
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--bg-color-5);
  box-shadow: 0 2px 4px var(--bg-color-5);
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: var(--bs-shadow-color);
    box-shadow: 0 2px 4px var(--bs-shadow-color);
  }
}

[data-theme-mode="dark"] .card {
  border-color: var(--bs-shadow-color);
  box-shadow: 0 2px 4px var(--bs-shadow-color);
}

[data-theme-mode="light"] .card {
  border: 1px solid var(--bg-color-5);
  box-shadow: 0 2px 4px var(--bg-color-5);
}

.card .card__body {
  padding: 1em;
}

.section__title {
  font-size: clamp(1.75rem, 1.5rem + 3vw, 3.5rem);
  margin-bottom: 0.25em;
}

.section__subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--bs-accent);
  padding: 0.25em 1em;
  margin-bottom: 1rem;
}

.footer {
  position: relative;
  left: 30%;
  width: 70%;
  isolation: isolate;
  z-index: 1;
  overflow-x: hidden;
}

[data-full-page="true"] .footer {
  left: 0%;
  width: 100%;
}

.footer .container {
  position: relative;
}

.footer .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 70vw;
  transform: translateX(-50%);
  background-color: var(--bs-accent-dark);
  z-index: -1;
}

[data-full-page="true"] .footer .container::before {
  width: 100vw;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-color);
}

.footer .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  color: var(--bg-color);
}

.newsletter-form .newsletter-form__header,
.newsletter-form .newsletter-form__footnote {
  text-align: center;
}

.newsletter-form .newsletter-form__header-title {
  font-size: clamp(1.25rem, 1rem + 1vw, 2.25rem);
  color: var(--bs-accent-2);
}

.newsletter-form .newsletter-form__header-description,
.newsletter-form .newsletter-form__footnote {
  font-size: 0.85em;
  margin: 1rem 0;
}

.newsletter-form .newsletter-form__body,
.newsletter-form .form-fields-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.newsletter-form .newsletter-form__body {
  padding: 1rem 0;
}

.newsletter-form .form-fields {
  height: 3rem;
  min-width: 15rem;
}

.newsletter-form .form-fields input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--bs-accent-2);
}

.newsletter-form .newsletter-form__body .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  height: calc(3rem / 1.1);
  background-color: var(--bs-accent-3);
  color: var(--bs-accent-dark);
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-wrap: nowrap;
}

.newsletter-form .newsletter-form__body .btn:hover {
  border: none;
  box-shadow: none;
}

@media (max-width: 1400px) {
  .newsletter-form .newsletter-form__body {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-form .newsletter-form__body .btn {
    width: calc(80% / 1.1);
    min-width: calc(200px / 1.1);
    max-width: calc(80% / 1.1);
  }

  [data-full-page="true"] .newsletter-form .newsletter-form__body .btn {
    width: max-content;
  }

  [data-full-page="true"] .newsletter-form .newsletter-form__body,
  [data-full-page="true"] .newsletter-form .form-fields-wrapper {
    flex-direction: row;
    width: max-content;
  }
}

@media (max-width: 1200px) {
  .newsletter-form .form-fields-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .newsletter-form .form-fields {
    width: 80%;
    min-width: 200px;
    max-width: 80%;
  }

  [data-full-page="true"] .newsletter-form .newsletter-form__body {
    flex-direction: column;
    width: 100%;
  }

  [data-full-page="true"] .newsletter-form .newsletter-form__body .btn {
    width: calc(80% / 1.1);
    min-width: calc(200px / 1.1);
    max-width: calc(80% / 1.1);
  }

  [data-full-page="true"] .newsletter-form .form-fields {
    min-width: 15rem;
  }
}

@media (max-width: 960px) {
  .footer {
    left: 0%;
    width: 100%;
  }

  .footer .container::before {
    width: 100vw;
  }

  [data-full-page="true"] .newsletter-form .form-fields-wrapper {
    flex-direction: column;
    width: 100%;
  }

  [data-full-page="true"] .newsletter-form .form-fields {
    width: 80%;
    min-width: 200px;
    max-width: 80%;
  }
}

.footer .mid-col,
.footer .copyright,
.footer .quicklinks {
  padding: 1rem;
  font-size: 0.85em;
}

.footer .quicklinks {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .quicklinks a {
  padding-left: 1rem;
  color: var(--bg-color);
}

.footer .social-links {
  display: none;
}

[data-full-page="true"] .footer .social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  top: 50%;
  left: 0;
  transform: translate(-55%, -50%);
  transition: 0.5s ease-in-out;
  padding: 10px 0;
  border-radius: 3px;
  gap: 0.1rem;
}

[data-full-page="true"] .footer .social-links::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bs-accent-2-5);
  border-radius: 5px;
  border: 1px solid var(--bs-accent);
  z-index: -1;
}

[data-full-page="true"] .footer .social-links:hover {
  padding-right: 0;
  transform: translate(2px, -50%);
}

[data-full-page="true"] .footer .social-links a {
  padding: 5px;
}

.social-links a {
  color: var(--bs-accent);
  font-size: 1.25em;
  margin: 0 10px;
  transition: 0.5s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.25);
  color: var(--bs-accent-3);
}

@media (max-width: 1400px) {
  [data-full-page="true"] .container {
    margin: 0 100px;
  }
}

@media (max-width: 960px) {
  .container {
    margin: 0 7.5vw;
  }
}

@media (max-width: 720px) {
  [data-full-page="true"] .container {
    margin: 0 7.5vw;
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--bs-accent-2-5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  position: relative;
  margin: 5% auto;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--bs-shadow-color);
  width: max-content;
  min-width: 300px;
  max-width: 80%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 8px var(--bs-accent-3);
}

.modal-content.medium {
  width: 50%;
}

.modal.show .modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--bs-accent);
  padding: 1rem;
}

.modal-title {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.close {
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--fg-color-5);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--fg-color);
  font-size: calc(1.1 * 2rem);
}

.modal-body {
  padding: 1.25rem 1rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--bs-accent);
  padding: 1rem;
}

.modal-footer button {
  margin-left: 10px;
}

.theme-toggle {
  position: fixed;
  isolation: isolate;
  bottom: 10px;
  right: 10px;
  width: 30px;
  aspect-ratio: 1/1.15;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 100;
}

.theme-toggle span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid var(--bs-accent);
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 0;
}

.theme-toggle:hover span {
  background-color: var(--fg-color);
  border-radius: 0 5px 5px 0;
  border-color: var(--bs-accent-3);
}

.theme-toggle span::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: url("../images/light_mode_icon-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.theme-toggle:hover span::before {
  background: url("../images/light_mode_icon-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.theme-toggle span::after {
  content: "Switch to dark theme";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  width: max-content;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  color: var(--bs-accent-2);
  background-color: var(--bs-accent-3);
  opacity: 0.9;
  backdrop-filter: var(--bs-backdrop);
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.theme-toggle:hover span::after {
  transform: translateY(-50%) scaleX(1);
}

[data-theme-mode="light"] .theme-toggle span::before {
  background-image: url("../images/light_mode_icon-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-theme-mode="light"] .theme-toggle:hover span::before {
  background-image: url("../images/light_mode_icon-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-theme-mode="light"] .theme-toggle span::after {
  content: "Switch to dark theme";
}

[data-theme-mode="dark"] .theme-toggle span::before {
  background-image: url("../images/dark_mode_icon-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-theme-mode="dark"] .theme-toggle:hover span::before {
  background-image: url("../images/dark_mode_icon-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-theme-mode="dark"] .theme-toggle span::after {
  content: "Switch to light theme";
}

@media (prefers-color-scheme: dark) {
  .theme-toggle span::before {
    background-image: url("../images/dark_mode_icon-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .theme-toggle:hover span::before {
    background-image: url("../images/dark_mode_icon-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .theme-toggle span::after {
    content: "Switch to light theme";
  }
}

#consent-message-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  width: max(360px, 40%);
  padding: 20px;
  color: var(--bs-accent-3);
  border-radius: 5px;
  background-color: var(--bs-accent-2);
  box-shadow: 0 -2px 4px var(--fg-color-5);
  outline: 1px solid var(--bs-accent-3);
  outline-offset: -6px;
  z-index: 99;
}

/* navigation styles */
.header {
  position: relative;
  height: 30px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
  gap: 1rem;
  font-size: 0.8em;
}

[data-full-page="true"] .header {
  left: 0%;
  width: 100%;
  padding: 0 calc(50% - 600px);
}

.header a {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

.nav {
  position: sticky;
  top: 0;
  left: 30%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
  z-index: 100;
  transition: 0.5s ease-in-out;
}

.nav.scrollable::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-linear-gradient);
  backdrop-filter: var(--bs-backdrop);
}

[data-full-page="true"] .nav {
  left: 0%;
  width: 100%;
  padding: 0 calc(50% - 600px);
}

.nav .logo {
  position: sticky;
  top: 0;
}

.nav .logo a {
  display: block;
  height: 50px;
  padding: 0.5em;
  text-decoration: none;
}

.nav .logo a:hover {
  text-decoration: none;
}

.nav .logo a img {
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.nav-list .nav-item {
  list-style: none;
  transition: 0.5s ease-in-out;
  transform-origin: center center;
}

.nav-list .nav-item .nav-link {
  position: relative;
  display: block;
  height: 100%;
  color: var(--fg-color);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.007em;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.07em;
  transition: 0.5s ease-in-out;
}

.nav-list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 1px;
  width: 0;
  opacity: 0;
  background-color: var(--bs-accent);
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
}

.nav-list .nav-item:hover .nav-link {
  color: var(--bs-accent);
  font-weight: 500;
}

.nav-list .nav-item:hover .nav-link::after {
  width: 100%;
  opacity: 1;
}

.nav-list .nav-item.active .nav-link {
  color: var(--bs-accent);
  font-weight: 500;
  transform: translateY(-1px) scale(0.99);
  opacity: 1;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 50px;
  height: 30px;
  aspect-ratio: 1/1;
  display: none;
  background: none;
  outline: none;
  border: none;
  isolation: isolate;
  z-index: 100;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

[data-full-page="true"] .menu-toggle {
  right: 80px;
}

.menu-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/menu_icon.png");
  background-size: cover;
  transition: 0.5s ease-in-out;
}

.nav-list.show ~ .menu-toggle::before {
  content: "";
  transform: rotateZ(-180deg);
  background-image: url("../images/close_icon.png");
}

@media (max-width: 1400px) {
  [data-full-page="true"] .nav {
    padding: 0 5vw;
  }

  [data-full-page="true"] .header {
    padding: 0 5vw;
  }
}

@media (max-width: 960px) {
  .nav-list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: min(-105%, -400px);
    width: min(300px, 100vw);
    height: 100vh;
    padding-top: 100px;
    border: 1px solid var(--fg-color-5);
    box-shadow: 0 2px 4px var(--fg-color-5);
    z-index: 99;
    transition: 0.5s ease-in-out;
  }

  .nav-list.show {
    right: 0;
  }

  .nav-list::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bs-accent-2-5);
    backdrop-filter: var(--bs-backdrop);
    border: 1px solid var(--fg-color-5);
    box-shadow: -2px 0 4px var(--bg-color-5);
    z-index: -1;
  }

  .nav-list .nav-item {
    width: 100%;
    height: 28px;
    margin: 8px;
    transition: 0.5s ease-in-out;
  }

  .nav-list .nav-item .nav-link {
    width: max-content;
    height: 100%;
    margin: auto;
  }

  .menu-toggle {
    display: initial;
  }

  [data-full-page] .menu-toggle {
    right: 5vw;
  }
}

@media (max-width: 960px) {
  .header {
    padding: 0 5vw;
  }

  .nav {
    left: 0;
    width: 100%;
    padding: 0 5vw;
  }

  .menu-toggle {
    right: 5vw;
  }
}
@media (max-width: 720px) {
  [data-full-page] .nav {
    left: 0;
    width: 100%;
    padding: 0 5vw;
  }
}
/* end of navigation styles */

/* sidebar styles */

.sidebar {
  position: fixed;
  isolation: isolate;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  padding: 50px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bs-accent-2-5);
  backdrop-filter: var(--bs-backdrop);
  z-index: -2;
}

.sidebar .profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 140px;
  margin: 20px auto;
}

.profile-image img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--bs-accent-2);
}

.sidebar .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.sidebar .intro-title {
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--bs-accent-3);
}

.sidebar .intro-subtitle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  color: var(--bs-accent);
  font-weight: 700;
  font-family: var(--font-cursive);
  text-align: center;
}

.sidebar .intro-subtitle span {
  border-right: 1px solid var(--fg-color);
  padding: 0 6px;
  font-size: 0.8em;
}

.sidebar .intro-subtitle span:last-of-type {
  border-right: none;
}

.sidebar .lead-paragraph {
  color: var(--bs-accent-3-5);
  padding: 0 20px;
  text-align: center;
  margin-bottom: 40px;
}

.sidebar .social-links {
  display: flex;
  justify-content: center;
}

@media (max-width: 960px) {
  .sidebar {
    position: relative;
    width: 100%;
    z-index: initial;
  }
}
/* end of sidebar styles */

/* main styles */
.main {
  position: relative;
  left: 30%;
  width: 70%;
  text-align: justify;
  letter-spacing: 0.003em;
  overflow-x: hidden;
}

[data-full-page="true"] .main {
  left: 0;
  width: 100%;
  padding-bottom: 50px;
}

@media (max-width: 960px) {
  .main {
    left: 0;
    width: 100%;
  }

  [data-full-page="true"] .main {
    top: 0;
  }
}
/* end of main styles */

.main .landing::after {
  filter: brightness(0.5);
}

#services,
#about {
  position: absolute;
  top: -100px;
  width: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.about .landing,
.portfolio .landing {
  position: relative;
  top: -80px;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .landing {
  height: 45vh;
  box-shadow: 0 2px 4px var(--bs-shadow-color);
}

.about .landing::after,
.portfolio .landing::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color-5);
  opacity: 0.25;
  z-index: -1;
}

.about .landing ~ section,
.portfolio .landing ~ section {
  position: relative;
  top: -50px;
}

.about .landing-title,
.portfolio .landing-title {
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  font-size: clamp(2.5em, calc(2em + 4vw), 5em);
  font-family: var(--font-cursive);
  line-height: 1;
}

.about .landing-content,
.portfolio .landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.about .landing .role-wrapper {
  display: flex;
}

.role-wrapper .static-text {
  font-family: var(--font-cursive);
  font-size: clamp(25px, calc(16px + 2.5vw), 40px);
  font-weight: 900;
  height: 70px;
  line-height: 70px;
}

.role-wrapper .dynamic-text {
  display: grid;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 20px;
  line-height: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  top: 0;
}

.role-wrapper .dynamic-text li {
  position: relative;
  top: 0;
  height: 70px;
  list-style-type: none;
  animation: slide 8s steps(2) infinite;
  width: max-content;
}

.role-wrapper .dynamic-text .role {
  line-height: 70px;
  height: 100%;
  font-size: clamp(25px, calc(16px + 2.5vw), 40px);
  font-weight: 500;
  color: var(--bs-accent);
  overflow-x: hidden;
  white-space: nowrap;
  border-right: 2px solid transparent;
  animation: blink 750ms ease infinite, typewriter 4s steps(10) infinite;
  margin: 0;
}

.call-to-action {
  margin-top: 150px;
  font-size: 1.1em;
  color: var(--bs-accent);
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  40%,
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: var(--bs-accent);
  }
}

@keyframes slide {
  100% {
    top: -140px;
  }
}

@media (max-width: 540px) {
  .role-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .role-wrapper .static-text,
  .role-wrapper .dynamic-text,
  .role-wrapper .dynamic-text .role {
    line-height: 55px;
  }
  .role-wrapper .static-text,
  .role-wrapper .dynamic-text,
  .role-wrapper .dynamic-text li {
    height: 55px;
  }

  @keyframes slide {
    100% {
      top: -110px;
    }
  }
}

/* services styles */
.my-services {
  text-align: center;
  margin: -30px 0 50px;
  padding: 50px 0;
}

.my-services .container {
  position: relative;
  isolation: isolate;
}

.my-services .container::before {
  content: "";
  position: absolute;
  inset: -50px;
  opacity: 0.9;
  border-radius: 5px;
  background-color: var(--bs-accent-2-5);
  border: 1px solid var(--fg-color-5);
  box-shadow: 0 2px 4px var(--fg-color-5);
  backdrop-filter: var(--bs-backdrop);
  z-index: -1;
}

.section__title--services {
  color: var(--bs-accent-3);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.25em auto 0.5em;
  background: var(--bs-accent);
  opacity: 0.25;
}

.services {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}

.service {
  margin: 0 auto;
  text-align: justify;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.service h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.75em;
  color: var(--bs-accent);
  text-align: center;
}

@media (max-width: 960px) {
  .services {
    flex-direction: column;
    margin-bottom: 2.5em;
  }
}

/* end of services styles */

/* about-me styles */

.about-me {
  position: relative;
  isolation: isolate;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 30%);
  grid-template-rows: 1fr max-content max-content;
  grid-template-areas:
    "title img"
    "subtitle img"
    "text img";
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

.about-me::after {
  content: "";
  position: absolute;
  top: -2em;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background-color: var(--bg-color-5);
  opacity: 0.5;
  z-index: -1;
}

.about-me__img {
  position: relative;
  top: 4em;
  grid-area: img;
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid var(--fg-color-5);
  box-shadow: 0 2px 4px var(--fg-color-5);
  z-index: 2;
  margin: auto;
}

.section__title--about {
  grid-area: title;
  color: var(--bs-accent);
}

.section__subtitle--about {
  grid-column: 1/-1;
  grid-row: 2;
  position: relative;
  left: -1em;
  width: calc(100% + 2em);
  padding: 0.5em;
  padding-left: 1em;
  padding-right: calc(30% + 2em);
  color: var(--bg-color);
}

@media (max-width: 660px) {
  .section__subtitle--about {
    padding-right: calc(200px + 2em);
  }
}

.section__subtitle--about p {
  display: inline;
}
.about-me__body {
  border-bottom: 1px solid var(--bs-accent);
}

@media (max-width: 960px) {
  .about-me {
    display: block;
  }

  .about-me__img {
    margin-top: 1.5em;
    position: initial;
    z-index: initial;
    width: 80%;
  }

  .section__subtitle--about {
    padding-right: 1em;
  }
}

/* end of about-me styles */

/* end of portfolio projects styles */
.portfolio .landing {
  justify-content: flex-end;
  padding-bottom: 3em;
}

.portfolio .landing::after {
  opacity: 0.4;
}

.portfolio .landing-content {
  padding: 2em 0;
}

.portfolio .section__title.section__title--project {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
  font-family: var(--font-cursive);
  line-height: 1.5;
  text-align: start;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75em;
}

.project.card {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  cursor: pointer;
}
.project.featured.card {
  grid-column: span 2;
}

.project.card:hover {
  text-decoration: none;
  transform: unset;
}

.project:hover .project__img {
  transform: scale(1.1);
}

.project.card .project__img {
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.project.card .card__body {
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
  padding: 0.5em 1em;
  height: 100%;
}

.project.card .card__body::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: var(--bs-accent-2-5);
  backdrop-filter: var(--bs-backdrop);
}

.project .card__info {
  min-height: 40px;
}

.project .btn {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  transform: scaleX(0);
  transform-origin: left;
  float: right;
}

.project:hover .btn {
  opacity: 1;
  transform: scale(1);
  color: var(--bg-color);
  background: var(--bs-accent-3-5);
  border-color: var(--bs-accent-2-5);
  box-shadow: 0 2px 4px var(--bs-accent-2-5);
}

@media (max-width: 1200px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .project.featured.card {
    grid-column: unset;
  }
}

.individual-portfolio .project__article {
  position: relative;
  z-index: 1;
}

.individual-portfolio .btn.btn-back {
  position: absolute;
  z-index: 2;
  margin-top: 1em;
}

.individual-portfolio .project__hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.individual-portfolio .project__hero .project__img {
  position: relative;
  left: -50px;
  width: calc(100% + 100px);
}

.individual-portfolio .project__hero .project__hero--content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  left: -50px;
  width: calc(100% + 100px);
  z-index: 1;
  padding: 3.5em 50px;
}

.individual-portfolio .project__hero--content .project__hero--info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1em;
  height: 3em;
  width: calc(100% - 100px);
  font-size: 0.9em;
  color: var(--bs-accent);
}

.individual-portfolio .project__hero--content .project__hero--info::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--bs-accent-3-5);
  background-color: var(--bs-accent-2);
  z-index: -1;
}

.individual-portfolio .project__body {
  position: relative;
  padding: 2em 0 100px;
  margin-top: -1em;
}

.individual-portfolio .project__body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
  width: calc(100% + 100px);
  margin-top: -1em;
  opacity: 0.9;
  background-color: var(--bg-color);
  backdrop-filter: var(--bs-backdrop);
  z-index: -1;
}

[data-theme-mode="light"]
  .individual-portfolio
  .project__body.notebook::before {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  .individual-portfolio .project__body.notebook::before {
    background-color: var(--fg-color);
  }
}

[data-theme-mode="dark"] .individual-portfolio .project__body.notebook::before {
  background-color: var(--fg-color);
}

.individual-portfolio .project__body img {
  width: unset;
}

.individual-portfolio .section__title.section__title--project {
  line-height: 1;
  text-align: center;
  font-size: clamp(1.5rem, 1rem + 3vw, 2.5rem);
  padding-top: 1em;
}

[data-theme-mode="light"]
  .individual-portfolio
  .notebook
  .section__title.section__title--project {
  color: var(--fg-color);
}

@media (prefers-color-scheme: dark) {
  .individual-portfolio .notebook .section__title.section__title--project {
    color: var(--bg-color);
  }
}

[data-theme-mode="dark"]
  .individual-portfolio
  .notebook
  .section__title.section__title--project {
  color: var(--bg-color);
}

.individual-portfolio .project__body .project__description {
  text-align: center;
  padding: 0.75em 0;
  font-family: var(--font-cursive);
  font-size: 1.25em;
  font-weight: 700;
}

[data-theme-mode="light"]
  .individual-portfolio
  .project__body.notebook
  .project__description {
  color: var(--fg-color);
}

@media (prefers-color-scheme: dark) {
  .individual-portfolio .project__body.notebook .project__description {
    color: var(--bg-color);
  }
}

[data-theme-mode="dark"]
  .individual-portfolio
  .project__body.notebook
  .project__description {
  color: var(--bg-color);
}

/* end of portfolio projects styles */
