<aside class="sidebar">
  <div class="lead">
    <div class="profile-image">
      <img
        src="{{ about_image.get_value.url }}"
        alt="portrait image of Patrick" />
    </div>
    <div class="intro">
      <h2 class="intro-title">Patrick Ndieka</h2>
      <div class="intro-subtitle">
        <span>Data scientist.</span>
        <span>Data Analyst.</span>
        <span>Web Developer.</span>
      </div>
    </div>
    <p class="lead-paragraph">
      Freelance data analyst and scientist
      <br />
      with a strong interested in
      <strong>Data Analysis</strong>
      ,
      <strong>Visualization</strong>
      and
      <strong>Data Science</strong>
      with regard to
      <strong>Machine Learning</strong>
      ,
      <strong>Deep Learning</strong>
      and
      <strong>NLP</strong>
      . Also into
      <strong>Web Development</strong>
      .
    </p>
  </div>
  {% if social_links %}
  <div class="social-links">
    {% for platform, link in social_links.items %}
    <a href="{{ link.url }}" aria-label="{{ platform }} link" target="_blank">
      {{ link.icon|safe }}
    </a>
    {% endfor %}
  </div>
  {% endif %}
</aside>
