<footer class="footer">
  <div class="container">
    {% if include_subscriber_form %}
    <div class="row">
      <form
        class="newsletter-form"
        method="post"
        hx-post="{% url 'core:subscribe' %}"
        hx-target="#modal"
        hx-swap="innerHTML"
        hx-headers='{"X-CSRFToken": "{{csrf_token }}"}'>
        <div class="newsletter-form__header">
          <h2 class="newsletter-form__header-title">Subscribe</h2>
          <p class="newsletter-form__header-description">
            Sign up with your email address to receive new content.
          </p>
        </div>
        <div class="newsletter-form__body">
          {% if form.NON_FIELD_ERRORS %}
          <div>{{ form.NON_FIELD_ERRORS }}</div>
          {% endif %} {% if form.email.errors %}
          <div>{{ form.email.errors }}</div>
          {% endif %}
          <div class="form-fields-wrapper">
            <div class="form-fields">
              <input
                type="text"
                name="first_name"
                maxlength="100"
                required
                placeholder="First Name"
                id="id_first_name" />
            </div>
            <div class="form-fields">
              <input
                type="text"
                name="last_name"
                maxlength="100"
                required
                placeholder="Last Name"
                id="id_last_name" />
            </div>
            <div class="form-fields">
              <input
                type="email"
                name="email"
                maxlength="100"
                required
                placeholder="Email Address"
                id="id_email" />
            </div>
          </div>
          <button class="btn" type="submit" value="Sign Up">Subscribe</button>
        </div>
        <div class="newsletter-form__footnote">
          <p>We respect your privacy.</p>
          <p>Thank you for being a subscriber!</p>
        </div>
      </form>
    </div>
    {% endif %}
    <div class="row">
      <span class="copyright">
        Copyright &copy; Patrick Ndieka {{ current_year }}
      </span>
      <div class="mid-col"></div>
      <div class="quicklinks">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </div>
  {% if social_links %}
  <div class="social-links">
    {% for platform, link in social_links.items %}
    <a href="{{ link.url }}" aria-label="{{ platform }} link" target="_blank">
      {{ link.icon|safe }}
    </a>
    {% endfor %}
  </div>
  {% endif %}
  <button class="theme-toggle"><span></span></button>
  <!-- Consent form -->
  <div
    id="consent-message-popup"
    class="hide"
    data-url="{% url 'core:consent_message' %}"></div>
  <dialog
    id="modal"
    class="modal"
    aria-labelledby="modal-title"
    aria-modal="true"></dialog>
</footer>
